<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li> 
<%= check_box_tag( task.title, value = "1", checked = task.completed ) %> <%= link_to task.title, task_path(task.id) %> - <%= link_to "Delete", task_path(task.id),
    method: :delete, data: { confirm: "Are you sure?" } %>
  </li>
  <% end %>
</ul>


<%= link_to "Create", tasks_new_path %>